{{ define "form" }}

<script>
	 $(function(){
	    $(".dropdown-menu").on('click', 'li a', function(){
	      $("#filterByBtn").text($(this).text());
	   });
	});
</script>
<div class="container">
	<form action="/get_events">
    	<!-- <div class="form-group"> -->
<!--                     <select class="form-control" name="dc" id="dcFilter">
				<option value="">Filter by DC...</option>
				{{ range .Dcs }}
					<option value={{ . }}>{{ . }}</option>
				{{ end }}
			</select>
		</div>
		<div class="form-group">
            <select class="form-control" name="topic">
            	<option value="">Filter by Topic...</option>
            	{{ range .Topics }}
            		<option value={{.}}> {{.}}</option>
            	{{ end }}
			</select>
		</div> -->
		<div class="form-group row">
			<label for="dc" class="col-sm-1 col-form-label">DC</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Data center" name="dc" id="dc">
			</div>
	  	</div>
		<div class="form-group row">
			<label for="host" class="col-sm-1 col-form-label">Host</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Host" name="host" id="host">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="targetHost" class="col-sm-1 col-form-label">Target Host</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Target Host" name="target" id="targetHost">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="topicName" class="col-sm-1 col-form-label">Topic</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Topic" name="topicName" id="topicName">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="tag" class="col-sm-1 col-form-label">Tag</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Tag" name="tag" id="tag">
			</div>
	  	</div>
	  	<div class="form-group input-group">
	  		<div class="input-group-addon">Start Time</div>
	  		<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="Start Date" name="startDate" id="startDate">
				<input type="time" class="form-control" name="startTime" id="startTime">
			</div>
	  	</div>
	  	<div class="form-group input-group">
	  		<div class="input-group-addon">End Time</div>
	  		<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="End Date" name="endDate" id="endDate">
				<input type="time" class="form-control" name="endTime" id="endTime">
			</div>
	  	</div>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </form>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Topic</th>
			<th>Dc</th>
			<th>Tags</th>
			<th>Timestamp</th>
			<th>Host</th>
			<th>User</th>
			<th>Data</th>
		</tr>
	</thead>
	<tbody id="event_table">
	</tbody>
</table>

{{ end }}