{{ define "form" }}

<script>
	 function submitQuery(form) {
		var data = $(form).serializeArray();
		var formData = {};
		for (var i = 0; i < data.length; i++) {
			var key = data[i]["name"];
			var value = data[i]["value"];
			var startEventDate, startEventTime, endEventDate, endEventTime;
			var startReceivedDate, startReceivedTime, endReceivedDate, endReceivedTime;
			switch(key) {
				case "sort_ascending":
					var sortArr = value === "" ? [] : value.split(",")
					sortArr.map(function(v) {
						if (v.toLowerCase() === "t" || v.toLowerCase() === "true") {
							return true;
						}
						return false;
					})
					formData[key] = sortArr;
					break;
				case "data":
					formData[key] = value
					break;
				case "startEventDate":
					startEventDate = value;
					break;
				case "startEventTime":
					startEventTime = value;
					break;
				case "endEventDate":
					endEventDate = value;
					break;
				case "endEventTime":
					endEventTime = value;
					break;
				case "startReceivedDate":
					startReceivedDate = value;
					break;
				case "startReceivedTime":
					startReceivedTime = value;
					break;
				case "endReceivedDate":
					endReceivedDate = value;
					break;
				case "endReceivedTime":
					endReceivedTime = value;
					break;
				default:
					formData[key] = value === "" ? [] : value.split(",");
			}
		}
		if (startEventDate) {
			var serializedStart = startEventTime ? startEventDate + " " + startEventTime : startEventDate;
			formData["start_event_time"] = new Date(serializedStart).getTime() / 1000;
		}
		if (endEventDate) {
			var serializedEnd = endEventTime ? endEventDate + " " + endEventTime : endEventDate;
			formData["end_event_time"] = new Date(serializedEnd).getTime() / 1000;
		}
		if (startReceivedDate) {
			var serializedStart = startReceivedTime ? startReceivedDate + " " + startReceivedTime : startReceivedDate;
			formData["start_received_time"] = new Date(serializedStart).getTime() / 1000;
		}
		if (endReceivedDate) {
			var serializedEnd = endReceivedTime ? endReceivedDate + " " + endReceivedTime : endReceivedDate;
			formData["end_received_time"] = new Date(serializedEnd).getTime() / 1000;
		}
		params = [];
		for (var key in formData) {
			if (key === "start_event_time" || key === "end_event_time" || key === "start_received_time" || key === "end_received_time" || key === "data") {
				params.push(key + "=" + formData[key])
			} else {
				for (var j = 0; j < formData[key].length; j++) {
					params.push(key + "=" + formData[key][j])
				}
			}
		}
		$.get("/v1/event?"+params.join("&"), function(data) {
			var results = data['results'];
			if (results) {
				var elem = document.getElementById("event_table")
				elem.innerHTML = "";
				for (var i = 0; i < results.length; i++) {
					var event = results[i];
					var item = 
					`<tr>
						<th scope="row">`.concat(event['topic_name'],`</th>
						<td>`,event['dc'],`</td>
						<td>`,event['tag_set'],`</td>
						<td>`,new Date(event['event_time']*1000).toUTCString(),`</td>
						<td>`,new Date(event['received_time']*1000).toUTCString(),`</td>
						<td>`,event['host'],`</td>
						<td>`,event['target_host_set'],`</td>
						<td>`,event['user'],`</td>
						<td>`,JSON.stringify(event['data']),`</td>
						<td>`,event['parent_event_id'],`</td>
					</tr>`)
					elem.innerHTML += item;
				}
			}
		});
		return false;
	}
</script>
<div class="container">
	<form onsubmit='return submitQuery(this)'>
		<div class="form-group row">
			<label for="parent_event_id" class="col-sm-1 col-form-label">Parent Event ID</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Parent Event ID" name="parent_event_id">
			</div>
	  	</div>
		<div class="form-group row">
			<label for="dc" class="col-sm-1 col-form-label">DC</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Data center" name="dc">
			</div>
	  	</div>
		<div class="form-group row">
			<label for="host" class="col-sm-1 col-form-label">Host</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Host" name="host" id="host">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="target_host" class="col-sm-1 col-form-label">Target Host</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Target Host" name="target_host">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="topicName" class="col-sm-1 col-form-label">Topic</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Topic" name="topic_name" id="topicName">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="tag_set" class="col-sm-1 col-form-label">Tag</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Tag" name="tag_set">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="data" class="col-sm-1 col-form-label">Data</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Data" name="data">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="sort_field" class="col-sm-1 col-form-label">Sort Fields</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Sort Fields" name="sort_field">
			</div>
	  	</div>
	  	<div class="form-group row">
	  		<label for="sort_ascending" class="col-sm-1 col-form-label">Sort Ascending</label>
	  		<div class="col-sm-6">
				<input type="text" class="form-control" placeholder="Sort Ascending" name="sort_ascending">
			</div>
	  	</div>
	  	<div class="form-group input-group">
	  		<div class="input-group-addon">Start Event Time</div>
	  		<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="Start Date" name="startEventDate">
				<input type="time" class="form-control" name="startEventTime">
			</div>
	  	</div>
	  	<div class="form-group input-group">
	  		<div class="input-group-addon">End Event Time</div>
	  		<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="End Date" name="endEventDate">
				<input type="time" class="form-control" name="endEventTime">
			</div>
	  	</div>
	  	<div class="form-group input-group">
	  		<div class="input-group-addon">Start Received Time</div>
	  		<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="Start Date" name="startReceivedDate">
				<input type="time" class="form-control" name="startReceivedTime">
			</div>
	  	</div>
	  	<div class="form-group input-group">
	  		<div class="input-group-addon">End Received Time</div>
	  		<div class="col-sm-6">
				<input type="date" class="form-control" placeholder="End Date" name="endReceivedDate">
				<input type="time" class="form-control" name="endReceivedTime">
			</div>
	  	</div>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </form>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Topic</th>
			<th>Dc</th>
			<th>Tags</th>
			<th>Event Time</th>
			<th>Received Time</th>
			<th>Host</th>
			<th>Target Hosts</th>
			<th>User</th>
			<th>Data</th>
			<th>Parent Event ID</th>
		</tr>
	</thead>
	<tbody id="event_table">
	</tbody>
</table>

{{ end }}