{{define "form"}}
<script type="text/javascript" src="/ui/js/create_event.js"></script>
<script type="text/javascript" src="/ui/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/ui/bootstrap/css/bootstrap-datetimepicker.min.css"/>
<div class="container">
	<form onsubmit='return submitForm(this)'>
		<div class="row">
			<div class="form-group col-sm-6">
			    <label for="parentEventID">Parent Event ID</label>
			    <input type="text" class="form-control" name="parent_event_id">
			</div>
			<div class="form-group col-sm-6">
			    <label for="dc">Data Center *</label>
			    <input type="text" class="form-control" name="dc" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
			    <label for="topic">Topic *</label>
			    <input type="text" class="form-control" name="topic_name" required>
			</div>
			<div class="form-group col-sm-6">
				<label for="tags">Tags</label>
				<input type="text" class="form-control" name="tag_set">
				<small class="form-text text-muted">comma-separated tags</small>
		  	</div>
	  	</div>
	  	<div class="row">
		  	<div class="form-group col-sm-6">
				<label for="host">Host *</label>
				<input type="text" class="form-control" name="host" required>
		  	</div>
		  	<div class="form-group col-sm-6">
				<label for="targetHosts">Target Hosts</label>
				<input type="text" class="form-control" name="target_host_set">
				<small class="form-text text-muted">comma-separated hosts</small>
		  	</div>
	  	</div>
	  	<div class="row">
		  	<div class="form-group col-sm-6">
				<label for="user">User</label>
				<input type="text" class="form-control" name="user">
		  	</div>
		  	<div class="form-group col-sm-6">
				<label for="data">Data (JSON format)</label>
				<input type="text" class="form-control" name="data">
		  	</div>
	  	</div>
	  	<div class="row">
		  	<div class="form-group col-sm-6">
	            <label>Event Time</label>
	            <div class='input-group date' id='datetimepicker'>
	                <input type="text" class="form-control" name="event_time">
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
        </div>

	  	<button type="submit" class="btn btn-default" id="submitButton">Submit</button>
	</form>
</div>
{{end}}
