{{define "form"}}
<div class="container">
	<form onsubmit='return submitDC(this)'>
		<div class="form-group">
		    <label for="dc_name">Data Center *</label>
		    <input type="text" class="form-control" name="dc_name" required autofocus>
		</div>
		<span class="input-group-btn">
	  		<button class="btn btn-default" type="submit">Submit</button>
	  	</span>
	</form>
	<div class="panel-group" id="dc_list" style="padding-top:20px">
	</div>
</div>
<script type="text/javascript" src="/ui/js/dc.js"></script>
{{end}}
