{{define "form"}}
<div class="container">
	<form onsubmit='return submitTopic(this)'>
		<div class="form-group">
		    <label for="topic_name">Topic Name *</label>
		    <input type="text" class="form-control" name="topic_name" required autofocus>
		</div>
		<div class="form-group">
		    <label for="data_schema">Data Schema</label>
		    <input type="text" class="form-control" name="data_schema">
		</div>
        <button class="btn btn-default" type="submit">Submit</button>
	</form>
	<div class="panel-group" id="topic_list" style="padding-top:20px">
	</div>
</div>
<script type="text/javascript" src="/ui/js/topic.js"></script>
{{end}}
